@model IEnumerable<automastAPI.Models.SparePart>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpareName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SparePhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpareName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SparePhoto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SparePartId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SparePartId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SparePartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
